%h2
  .pull-right    
    %span.glyphicon.glyphicon-remove.management{"ng-click": "projectCtrl.removeProject(project, projectsCtrl.projects)"} 
  %span{"editable-text": "project.title", "onaftersave": "projectCtrl.updateProject(project, $data)"}
    {{ project.title || 'empty' }}     
  

.new-card
  %span.glyphicon.glyphicon-plus.pull-left
  %form{"ng-submit": "projectCtrl.createTask(project)"}
    %input.card-input{"ng-model": "projectCtrl.task.title", "placeholder": "New Task"}
    %button.btn.btn-success.pull-right
      New task

.task{"ng-controller": "taskCtrl as taskCtrl", "ng-repeat": "task in project.tasks"}
  %div{"task": "value"}


