%div.pull-right  
  %span.management{"editable-date": "task.deadline", "onaftersave": "taskCtrl.updateTask(project, task, {deadline: $data})"}
    %span.glyphicon.glyphicon-calendar.management
    {{ (task.deadline | date: 'dd/MM/yy') }}
  %span.glyphicon.glyphicon-comment.management{"ng-click": "projectCtrl.commentTask(task)"}    
  %span.glyphicon.glyphicon-remove.management{"ng-click": "taskCtrl.removeTask(project, task)"}
%div  
  %input{"type": "checkbox", "ng-checked": "task.state", "ng-click": "taskCtrl.changeStatus(project, task)"}
  %span{"editable-text": "task.title", "onaftersave": "taskCtrl.updateTask(project, task, {title: $data})"}
    {{ task.title }} 

%div{"ng-show": "projectCtrl.isCommentTask(task)", "ng-controller": "commentCtrl as commentCtrl"}  
  %br
  .comment{"ng-repeat": "comment in task.comments"}      
    %div{"comment": "value"}
  
  .new-comment      
    %form{"ng-submit": "taskCtrl.createComment(project, task)"}
      .form-group
        %input.form-control{"ng-model": "taskCtrl.comment.text", "placeholder": "Type your comment here...", "required": "value"}             
        %button.btn.btn-success
          Add comment

     
  

