%div.pull-right  
  %span.management{"editable-date": "task.deadline", "onaftersave": "taskCtrl.updateTask(project, task, {deadline: $data})"}
    %span.glyphicon.glyphicon-calendar.management
    {{ (task.deadline | date: 'dd/MM/yy') }}
  %span.glyphicon.glyphicon-comment.management{"ng-click": "projectCtrl.commentTask(task)"}    
  %span.glyphicon.glyphicon-remove.management{"ng-click": "taskCtrl.removeTask(project, task)"}
%div  
  %input{"type": "checkbox", "ng-checked": "task.state", "ng-click": "taskCtrl.changeStatus(project, task)"}
  %span{"editable-text": "task.title", "onaftersave": "taskCtrl.updateTask(project, task, {title: $data})"}
    {{ task.title }} 

%div{"ng-show": "projectCtrl.isCommentTask(task)", "ng-controller": "commentCtrl as commentCtrl"}  
  %br
  .comment{"ng-repeat": "comment in task.comments"}      
    %div{"comment": "value"}
  
  .new-comment      
    %form{"ng-submit": "taskCtrl.createComment(project, task)"}
      .form-group
        %input.form-control{"ng-model": "taskCtrl.comment.text", "placeholder": "Type your comment here...", "required": "value"} 
      .form-group
        %input{"type": "file", "nv-file-select": "", "multiple": "",  "uploader": "uploader"}
        %br
        %ul.attachments.list-inline
          %li.attached-file{"ng-repeat"=>"item in uploader.queue"}
            %span
              %i.fa.fa-file
              %span{"ng-bind"=>"item.file.name"}
              %i.fa.fa-trash{"ng-click"=>"uploader.removeFromQueue(item)"}       
        %button.btn.btn-success
          Add comment

     
  

