
%div.pull-right  
  %span{"editable-date": "task.deadline", "onaftersave": ""}
    %span.glyphicon.glyphicon-calendar.management
    {{ (task.deadline | date: 'dd/MM') || 'set' }}
  %span.glyphicon.glyphicon-comment.management{"ng-click": ""}    
  %span.glyphicon.glyphicon-remove.management{"ng-click": "taskCtrl.removeTask(project, task)"}
%div
  %input{"type": "checkbox", "ng-checked": "", "ng-click": "", "style": "border-right: 1px solid #000;"}
  %span{"editable-text": "task.title", "onaftersave": ""}
    {{ task.title }} 

%div{"comment": "value"}