.col-md-8.col-md-offset-2{"ng-controller": "newProjectsCtrl as newProjectsCtrl"}
  .panel.panel-info
    .panel-heading
      %h4
        New project
    
    .panel-body   
      %form{"ng-submit": "newProjectsCtrl.create()"}
        .form-group   
          %input.form-control.new-project{"ng-model": "newProjectsCtrl.project.title", "required": "", "autofocus": "", "placeholder": "Project title"}            
          %button.btn.btn-success.btn-block.new-project{"type": "submit"}
            Create

      