.row{"ng-controller": "newProjectsCtrl as newProjectsCtrl"}
  %h2
    New project
  %form{"ng-submit": "newProjectsCtrl.create()"}
    .form-group
      %input.form-control{"ng-model": "newProjectsCtrl.project.title", "required": "", "autofocus": "", "placeholder": "Project title"}

      %button.btn.btn-success.btn-block{"type": "submit"}
        Create
