.col-md-8.col-md-offset-2{"ng-controller": "projectsCtrl as projectsCtrl"}
  .row
    .project{"ng-repeat": "project in projectsCtrl.projects", "ng-controller": "projectCtrl as projectCtrl"}
      %div{"project": "value"}
  
  %button.btn.btn-lg.center-block{"ng-click": "new_project()"}
    %i.fa.fa-plus
    Add Project