.col-md-8.col-md-offset-2
  .row{"ng-model": "projectsCtrl.projects", "ui-sortable": "projectsCtrl.sortableOptions"}      
    %div{"ng-controller": "projectCtrl as projectCtrl", "ng-repeat": "project in projectsCtrl.projects"}
      %div{"project": "value"}
  
  %button.btn.btn-lg.btn-info.center-block{"ng-click": "projectsCtrl.addProject()"}    
    Add Project