.col-md-8.col-md-offset-2{"ng-controller": "projectsCtrl as projectsCtrl"}
  .row
    .project{"ng-controller": "projectCtrl as projectCtrl", "ng-repeat": "project in projectsCtrl.projects"}
      %div{"project": "value"}
  
  %button.btn.btn-lg.center-block{"ng-click": "projectsCtrl.addProject()"}
    %i.fa.fa-plus
    Add Project